
ece4513 (Image Processing and Computer Vision)/project/EnLPF/final_version/models/ade20k-model/encoder_epoch_20.pth
ece4513 (Image Processing and Computer Vision)/project/EnLPF/final_version/models/ade20k-model/decoder_epoch_20.pth
